:root {
   font-size: 60%;

   --color-background: #f0f0f7c9;
   --color-primary-lighter: #7a71f5;
   --color-primary-light: #916BEA;
   --color-primary: #8257E5;
   --color-primary-dark: #774DD6;
   --color-primary-darker: #6842C2;
   --color-secundary: #04D361;
   --color-secundary-dark: #04BF58;
   --color-title-in-primary: #FFFFFF;
   --color-text-in-primary: #D4C2FF;
   --color-text-title: #32264D;
   --color-text-complement: #9C98A6;
   --color-text-base: #6A6180;
   --color-line-in-white: #e6e6f0b6;
   --color-input-background: #F8F8FC;
   --color-button-text: #FFFFFF;
   --color-box-base: #ffffffc7;
   --color-box-footer: #FAFAFC;
 }

 @media (prefers-color-scheme: dark) {
    :root {
        --color-background: #3f3f3f;
        --color-primary-lighter: #1b1933;
        --color-primary-light: #2a2a2a;
        --color-primary: #23202a;
        --color-primary-dark: #1F1B24;
        --color-primary-darker: #171225;
        --color-secundary: #4f8b6a;
        --color-secundary-dark: #087237;
        --color-title-in-primary: #FFFFFF;
        --color-text-in-primary: #af8ffb;
        --color-text-title: #281e3f;
        --color-text-complement: #9C98A6;
        --color-text-base: #392f53;
        --color-line-in-white: #E6E6F0;
        --color-input-background: #F8F8FC;
        --color-button-text: #FFFFFF;
        --color-box-base: #b8b8b8;
        --color-box-footer: #b8b8b8;
      }
  }

 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

 html, body, #root {
    height: 100vh;
 }

 body {
    background: var(--color-background);
 }

 #root {
    display: flex;
    align-items: center;
    justify-content: center;
 }

 body,
 input,
 button,
 textarea {
   font: 500 1.6rem Poppins;
   color: var(--color-text-base);
 }

 .container {
    width: 90vw;
    max-width: 700px;
 }

 @media (min-width: 700px) {
   :root {
      font-size: 62.5%;
   }
}